.blog-post-container {
  background-color: #ebf1f5;
  min-width: 100vw;
  min-height: 100vh;
}

.blog__header {
  display: flex;
  height: 5vh;
  width: 100vw;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
}

.logo__main__lab {
  background-image: url(../images/logo__black.svg);
  height: 5vh;
  width: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.nav__links {
  display: flex;
  align-items: center;
}
