.link {
  color: #1565c0;
}

.link:hover {
  color: #42a5f5;
  /* border: 1px solid #1565c0; */
}

.flat {
  border: 2px solid #1565c0;
  color: #1565c0;
}

.flat:hover {
  border: 2px solid #42a5f5 !important;
  color: #42a5f5 !important;
}

.raised {
  background-color: #1565c0 !important;
  color: white;
  box-shadow: 4px 4px 6px #bdbdbd;
}

.raised:hover {
  background-color: #42a5f5;
  box-shadow: 4px 4px 6px #a0a0a0;
}

.button {
  user-select: none;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 3px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.4s;
  display: block;
  text-align: center;
  background-color: #f6f9fc;
  margin: 0px 2px;
}
