.error__404 {
  color: #333;
  font-size: 2rem;
}

.title__text {
  color: #333;
  font-weight: bold;
  font-size: 1rem;
}

.build__call {
  letter-spacing: 1px;
  word-spacing: 6px;
  font-weight: bolder;
  font-size: 36px;
  padding: 20px;
}

.call__cards__container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.call__for__action {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.call__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 230px;
}

.computer {
  background-image: url(../images/browser.svg);
}

.server {
  background-image: url(../images/computer.svg);
}

.phone {
  background-image: url(../images/smartphone.svg);
}

.blog-post-container {
  background-color: #ebf1f5;
  min-width: 100vw;
  min-height: 100vh;
}

.blog__header {
  display: flex;
  height: auto;
  width: 100vw;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
}

.logo__main__lab {
  background-image: url(../images/logo__sun__moon.svg);
  height: 45px;
  width: 45px;
  scale: 1.5;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

.nav__links {
  display: flex;
  align-items: center;
}

.call__action__body {
  text-align: center;
}

.tools__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  width: 70%;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 2vh;
}

.tool {
  display: grid;
  place-items: center;
  margin: 20px 20px;
}

.tool__name {
  font-size: 1rem;
  margin-top: 1.6vh;
}

@media only screen and (max-width: 500px) {
  .build__call {
    letter-spacing: 1px;
    word-spacing: 6px;
    font-weight: bolder;
    font-size: 18px;
    padding: none;
    margin-bottom: -60px;
  }
  .call__cards {
    margin-top: 50px;
  }

  .call__cards__container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  .call__action__body {
    text-align: center;
  }
}
