.error__404 {
  color: #333;
  font-size: 2rem;
}

.title__text {
  color: #333;
  font-weight: bold;
  font-size: 1rem;
}

.build__call {
  letter-spacing: 1px;
  word-spacing: 6px;
  font-weight: bolder;
  font-size: 36px;
  padding: 20px;
}

.call__for__action {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.call__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 230px;
}

.computer {
  background-image: url(../images/browser.svg);
}

.server {
  background-image: url(../images/computer.svg);
}

.phone {
  background-image: url(../images/smartphone.svg);
}
