.landing__section {
  display: flex;
  background-image: url(../images/super.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 93vh;
}

.introo {
  margin-left: 12vw;
  margin-top: 8vh;
}

.error__404 {
  color: #333;
  font-size: 2rem;
}

.title__text {
  color: #333;
  font-weight: bold;
  font-size: 1rem;
}
