@import url("https://fonts.googleapis.com/css?family=Roboto:500,700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  /* box-shadow: 1px 1px 1px #bdbdbd; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  box-shadow: 0 0 2px #ced9e0;
}

footer {
  position: static;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: 30px;
  padding-bottom: 10px;
  width: 100%;
  box-shadow: 0 0 2px #ced9e0;
}

.footer__main {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.follow__me {
  display: none;
}

.social__icons {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  margin: 0px 10px;
}

.social__container {
  display: flex;
  align-items: center;
}

.copy__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.landing__section {
  display: flex;
  /* background-image: url(../images/super.jpg); */
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
}

.introo {
  padding-top: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.home__name {
  font-size: 4rem !important;
}

.position__desc {
  font-size: 1.3rem !important;
}

.logo__main {
  background-image: url(../images/logo__sun__moon.svg);
  height: 45px;
  width: 45px;
  scale: 1.5;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 10px;
}

/* .name__pos::before {
  width: 100px;
  height: 100px;
  content: "";
  display: inline-block;
  background-color: red;
  position: relative;
  left: -120px !important;
  top: -20px;
  background-image: url(../images/logo__black.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  scale: 3;
} */

@media only screen and (max-width: 500px) {
  .introo {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: -100px;
  }
  .name__pos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .home__name {
    font-size: 2rem !important;
    margin-top: -40px;
    margin-bottom: 10px;
  }

  .footer__main {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }

  .social__container {
    margin-top: 6px;
  }

  .follow__me {
    display: none;
  }

  .copy__right {
    align-items: center;
  }

  .social__icons {
    width: 20px;
    height: 20px;
    margin: 0px 10px;
  }
}
