@import url("https://fonts.googleapis.com/css?family=Roboto:500,700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  /* box-shadow: 1px 1px 1px #bdbdbd; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  box-shadow: 0 0 2px #ced9e0;
}

footer {
  position: static;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: 30px;
  padding-bottom: 10px;
  width: 100%;
  box-shadow: 0 0 2px #ced9e0;
}

.footer__main {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.social__icons {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  margin: 0px 10px;
}

.social__container {
  display: flex;
  align-items: center;
}

.copy__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.landing__section {
  display: flex;
  /* background-image: url(../images/super.jpg); */
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
}

.introo {
  padding-top: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.home__name {
  font-size: 4rem !important;
}

.position__desc {
  font-size: 1rem !important;
}

.logo__main {
  background-image: url(./../images/logo-res.png);
  height: "40px";
  width: "50px";
  background-repeat: "no-repeat";
  background-size: "contain";
  margin-left: "10px";
}
